In [1]:
import pandas as pd  
import numpy as np
import re

In [2]:
yield_curve_data = pd.read_excel(r'../data/S490.xlsx',sheet_name='S490')

Task 1.1 Load the Data

In [3]:
def convert_duration(tenor: str) -> float:

    num = float(re.findall(r'\d+', tenor)[0])
    unit = re.findall(r'[a-zA-Z%]+', tenor)[0]

    if unit.lower() == 'm':
        return num/12
    
    else:
        return num

In [4]:
yield_curve_data["tenor(y)"] = yield_curve_data['Tenor'].apply(lambda x:convert_duration(x))

Task 1.2 Create YieldCurve Object

In [ ]:
class yield_curve:
    def __init__(self, market_data):
        self.market_data = market_data.sort_values(by = 'tenor(y)')[['tenor(y)', 'Rate']].reset_index(drop = True)
    
    def get_interest_rate(self, tenor):
        return self.market_data.loc[self.market_data['tenor(y)'] == tenor, 'Rate'].iat[0]
    
    def linear_interpolation(self, tenor):
        if tenor in self.market_data['tenor(y)']:
            return self.get_interest_rate(tenor)
        
        self.market_data['diff'] = self.market_data['tenor(y)'] - tenor
        self.market_data.sort_values(by = 'diff')

        return 

    def show_df(self):
        return self.market_data
    
    def cubic_spline(self, tenor):
        return 
    
    def nelson_siegel(self, tenor):
        return 
    
    def get_rate(self, tenor, method = 'linear'):
        if method == 'linear':
            return self.linear_interpolation(tenor)
        elif method == 'cubic':
            return self.cubic_spline(tenor)
        elif method == 'nelson':
            return self.nelson_siegel(tenor)

Step 1.2.2: Implement the Interpolation Methods

In [28]:
yc = yield_curve(yield_curve_data)

In [29]:
yc.linear_interpolation(3)

3.835

In [1]:
prices = [1,2,3,4]
max(prices[1:])

4

In [22]:
yc.show_df()

     tenor(y)   Rate
0    0.083333  5.341
1    0.166667  5.347
2    0.250000  5.327
3    0.333333  5.295
4    0.416667  5.240
5    0.500000  5.179
6    0.583333  5.124
7    0.666667  5.062
8    0.750000  5.003
9    0.833333  4.946
10   0.916667  4.882
11   1.000000  4.823
12   1.500000  4.427
13   2.000000  4.154
14   3.000000  3.835
15   4.000000  3.679
16   5.000000  3.599
17   6.000000  3.560
18   7.000000  3.539
19   8.000000  3.528
20   9.000000  3.525
21  10.000000  3.527
22  12.000000  3.541
23  15.000000  3.561
24  20.000000  3.544
25  25.000000  3.464
26  30.000000  3.380
27  40.000000  3.169
28  50.000000  2.948